<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Fix AsRock Z390 BIOS DSDT Device(RTC) bug</string>
					<key>Find</key>
					<data>
					A00A9353 54415301
					</data>
					<key>Replace</key>
					<data>
					A00A910A FF0BFFFF
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI, optionally pair with SSDT-IMEI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI, optionally pair with SSDT-IMEI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TUVJXw==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU, optionally pair with SSDT-HDAU.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _BIF to XBIF, optionally pair with SSDT-BAT0.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJRg==
					</data>
					<key>Replace</key>
					<data>
					WEJJRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _BST to XBST, optionally pair with SSDT-BAT0.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JTVA==
					</data>
					<key>Replace</key>
					<data>
					WEJTVA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwk=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _Q14 to XQ14, optionally pair with SSDT-Fn.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNA==
					</data>
					<key>Replace</key>
					<data>
					WFExNA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _Q15 to XQ15, optionally pair with SSDT-Fn.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNQ==
					</data>
					<key>Replace</key>
					<data>
					WFExNQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XWAK,0,N) to ZWAK, pair with SSDT-XWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwA=
					</data>
					<key>Replace</key>
					<data>
					WldBSwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XWAK,0,S) to ZWAK, pair with SSDT-XWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwg=
					</data>
					<key>Replace</key>
					<data>
					WldBSwg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XSEL,0,N) to XSEZ, pair with SSDT-XSEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFNFTAA=
					</data>
					<key>Replace</key>
					<data>
					WFNFWgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XSEL,0,S) to XSEZ, pair with SSDT-XSEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFNFTAg=
					</data>
					<key>Replace</key>
					<data>
					WFNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ESEL,0,N) to ESEZ, pair with SSDT-ESEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAA=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ESEL,0,S) to ESEZ, pair with SSDT-ESEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAg=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgg=
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<true/>
				<key>APSN</key>
				<true/>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-Config.aml</string>
			<string>SSDT-BAT0.aml</string>
			<string>SSDT-Disable_DGPU.aml</string>
			<string>SSDT-EH01.aml</string>
			<string>SSDT-EH02.aml</string>
			<string>SSDT-ESEL.aml</string>
			<string>SSDT-Fn.aml</string>
			<string>SSDT-GPRW.aml</string>
			<string>SSDT-HDAU.aml</string>
			<string>SSDT-HDEF.aml</string>
			<string>SSDT-IGPU.aml</string>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-PluginType1.aml</string>
			<string>SSDT-PTSWAK.aml</string>
			<string>SSDT-SMBUS.aml</string>
			<string>SSDT-XHC.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-XSEL.aml</string>
			<string>SSDT-XWAK.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>nv_disable=1 abm_firstpolldelay=16000 -lilubetaall -lilubeta</string>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>6</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>LANInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Mechrevo</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
		<key>PatchVBios</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MDBCRTZFRDcxRTM1RUI4Ng==
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				MTg5QTNENEU5NzVENUVFQw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>BT4LE-Handoff-Hotspot</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12 94352z 5g</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gflSqgAAdSk=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				gflSqgAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change VRAM 1536 -&gt; 2048 for 0x191b0000</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAAAYGwFAABsBQAAAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAAgGwFAABsBQAAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 10.13.4+ by PMHeart</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g32UDw+DlwQAAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g32UD5CQkJCQkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g32UDw+DlwQ=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g32UGg+DlwQ=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext for 10.13.6</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g32IDw+DpwQ=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g32IGg+DpwQ=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<data>
		FBhCp7GX
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>06/26/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP133.88Z.0247.B00.1806261159</string>
		<key>Board-ID</key>
		<string>Mac-A5C67F76ED83108C</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02604104GUDKG28C</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE13F</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>ProductName</key>
		<string>MacBookPro13,3</string>
		<key>SerialNumber</key>
		<string>C02R51KCGTFN</string>
		<key>SmUUID</key>
		<string>B97D92CC-43AE-4EAB-863A-50F586A7B197</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>B97D92CC-43AE-4EAB-863A-50F586A7B197</string>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
